body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.herobanner {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card_container {
  display: flex;
  width: 100%;

}

.card_container,
.card_a {
  flex: 1 0 33.33%;

}

.card_container,
.card_b {
  flex: 1 0 33.33%;

}

.card_container,
.card_c {
  flex: 1 0 33.33%;

}

.resume {
  display: flex;
  align-items: center;
}

.resumepart1 {
  display: flex;
  flex: 1 0 25%;

}

.resumepart2 {
  display: flex;
  flex: 1 0 25%;
}

.resumepart3 {
  display: flex;
  flex: 1 0 25%;
}